<footer>
    <div class="footer-logo">
        <span class="word-dice">Dice</span><span class="word-floor">Floor</span>
    </div>
    <div class="footer-links">
        <a href="{{ '/' | relative_url }}">Home</a>
        <a href="{{ '/articles/' | relative_url }}">Articles</a>
        <a href="#">Cruise Lines</a>
        <a href="#">Land Casinos</a>
        <a href="#">Jobs</a>
        <a href="#">About</a>
        <a href="#">FAQ</a>
    </div>
    <div class="footer-copy">&copy; {{ 'now' | date: "%Y" }} Dice Floor</div>
</footer>
